<ion-header>
  <ion-toolbar>
    <ion-title>Homepage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <!-- Loop through posts and display each in a two-column layout -->
      <ion-col size="6" *ngFor="let post of posts">
        <ion-card (click)="viewPost(post.$id)">
          <ion-card-header>
            <ion-card-title>{{ post.title }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>By {{ post.firstName }} {{ post.lastName }}</p> <!-- Display user's name -->
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
