<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="user">
    <ion-card-header>
      <ion-card-title>{{ firstName }} {{ lastName }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-avatar *ngIf="profilePicture">
        <img [src]="profilePicture" alt="Profile Picture" />
      </ion-avatar>      
      <p>Email: {{ user.email }}</p>
      <button (click)="logout()">
        Logout
      </button>
      <ion-buttons slot="end">
        <ion-button (click)="openCreatePostModal()">
          <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-card-content>
  </ion-card>
</ion-content>
